body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    filter: brightness(0.9);
}